<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <!--Servlet configuratio-->
    <servlet>
        <servlet-name>generic-servlet</servlet-name>
        <servlet-class>com.generic.GenericServletDemo</servlet-class>
    </servlet>
    
    
    <!--servlet mapping-->
    <servlet-mapping>
        <servlet-name>generic-servlet</servlet-name>
        <url-pattern>/generic-servlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
